/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

/* Avatars */

.bb-activity img.avatar{
	border-radius:20%;
	}
.list-view .bb-forums__avatar .avatar{
	border-radius:20%;
	}
.user-link img{
	border-radius:20%;
	}
#friend-list.item-list .item-avatar img,#members-list.item-list .item-avatar img{
	border-radius:20%;
	}
#bbpress-forums#bbpress-forums .bs-forums-items .item-avatar img{
	border-radius:20%;
	max-width: 80px;
	}
.avatar{
	border-radius:20%;
	}
body #buddypress:not(.round-avatars) .groups-header #item-header-cover-image #item-header-avatar img.avatar{
	border-radius:5%;
	}
body #buddypress:not(.round-avatars) .users-header #item-header-cover-image #item-header-avatar img.avatar{
	border-radius:20%;
	}
#groups-list.bp-list .avatar{
	border-radius:5%;
	}
.grid .member-status{
	right:0px;
	top:0px;
	width:14px;
	height:14px;
	}

/* Groups */

.single-item.groups .content-area {
	padding-top: 0px;
	}

nav#object-nav li.bfc-group-name-nav{
	font-size:14px;
	font-weight: 700;
	line-height: 28px;
	padding:11px 30px 11px 0;
	}


/* Forums */

#bbpress-forums.bb-content-area {
	width: 810px;
	margin: 0 auto;
}
#bbpress-forums#bbpress-forums .bs-forums-items .bbp-reply-author{
	max-width: 160px;
	margin-left: -30px;
	padding: 0 20px;
}
#bbpress-forums h1.bb-reply-topic-title {
	font-size: 28px;
}
#bbpress-forums#bbpress-forums .bs-forums-items .item-avatar {
	margin-right: 0px;
}
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-reply-content, #bbpress-forums div.bbp-topic-content {
	width: 670px;
	/* margin-left: 140px; */
}
.bbp-reply-content.bs-forum-content {
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 17px;
	line-height: 1.6;
}
.bs-forum-content .bbp-topic-revision-log, .bs-forum-content .bbp-reply-revision-log{
	display: none;
}

#buddypress .bb-grid .follow-button .follow-button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #007CFF;
	line-height: 1.3;
	min-height: 1px;
	padding: 0;
}
		
#buddypress .bb-grid .dropdown-pane {
	border-radius:10%;
}
