/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

/* Global */

body {
	-webkit-font-smoothing:auto;
}

/* Avatars */

.bb-activity img.avatar{
	border-radius:20%;
	}
.list-view .bb-forums__avatar .avatar{
	border-radius:20%;
	}
.user-link img{
	border-radius:20%;
	}
#friend-list.item-list .item-avatar img,#members-list.item-list .item-avatar img{
	border-radius:20%;
	}
#bbpress-forums#bbpress-forums .bs-forums-items .item-avatar img{
	border-radius:20%;
	max-width: 80px;
	}
.avatar{
	border-radius:20%;
	}
body #buddypress:not(.round-avatars) .groups-header #item-header-cover-image #item-header-avatar img.avatar{
	border-radius:5%;
	}
body #buddypress:not(.round-avatars) .users-header #item-header-cover-image #item-header-avatar img.avatar{
	border-radius:20%;
	}
#groups-list.bp-list .avatar{
	border-radius:5%;
	}
.grid .member-status{
	right:0px;
	top:0px;
	width:14px;
	height:14px;
	}

/* Groups */

.single-item.groups .content-area {
	padding-top: 0px;
	}

nav#object-nav li.bfc-group-name-nav{
	font-size:14px;
	font-weight: 700;
	line-height: 28px;
	padding:11px 30px 11px 0;
	}


/* Forums and Group Member Intros*/

#members-intros,
#bbpress-forums.bb-content-area {
	width: 810px;
	margin: 0 auto;
}

#bbpress-forums .bs-single-forum-list>li .bs-reply-list-item {
	padding: 15px 30px 15px 0px;
}
#bbpress-forums#bbpress-forums .bs-forums-items .bbp-reply-author{
	width: 150px;
	/* margin-left: -30px; */
	padding: 0 20px;
}
#bbpress-forums h1.bb-reply-topic-title {
	font-size: 28px;
}
#bbpress-forums#bbpress-forums .bs-forums-items .item-avatar {
	margin: auto;
	padding-bottom: 5px;
}


#bbpress-forums .bs-reply-list-item {
	display: flex;
}

.bbp-reply-content.bs-forum-content {
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 17px;
	line-height: 1.6;
}
.bs-forum-content .bbp-topic-revision-log, .bs-forum-content .bbp-reply-revision-log{
	display: none;
}
/* dropdown pane */

#buddypress .bb-grid  .dropdown-pane .generic-button, #buddypress .bp-list  .dropdown-pane .generic-button {
	margin: 0;
}


#buddypress .bb-grid  .dropdown-pane .follow-button, #buddypress .bp-list  .dropdown-pane .follow-button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #007CFF;
	line-height: 1.3;
	min-height: 1px;
	padding: 0;
	font-size: 16px;
	text-align: center;
}
		
#buddypress .bb-grid .dropdown-pane, #buddypress .bp-list .dropdown-pane {
	border-radius:10%;
	font-size: 16px;
}

/* member directory */
#members-group-list.group_members ul#members-list,
#members-dir-grid.members ul#members-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	grid-gap: 8px;
}

#friend-list.grid,#groups-list.grid,#members-list.grid{
	margin:0;
}

#friend-list.grid.bp-list>li,#groups-list.grid.bp-list>li,#members-list.grid.bp-list>li {
	max-width: 100%;
}

#members-group-list.group_members #members-list.bp-list:before,
#members-dir-grid.members #members-list.bp-list:before {
	content: normal;
	display: inherit;
}

#members-group-list.group_members #members-list.bp-list li.item-entry,
#members-dir-grid.members #members-list.bp-list li.item-entry {
	margin: 0;
	padding: 0;
	border-bottom: 0 none #000000;
	justify-self: center;
}

#members-group-list.group_members #members-list.bp-list .item-avatar,
#members-dir-grid.members #members-list.bp-list .item-avatar {
	font-size: 16px;
	line-height: 19px;
	margin: 0px;
}


#members-group-list.group_members #members-list .item-avatar img.avatar,
#members-dir-grid.members #members-list .item-avatar img.avatar {
	width: 120px;
	height: 120px;
	object-fit: cover;
	margin: 10px 0 8px;
	border-radius: 20%;
}

#members-group-list.group_members #members-list div.list-wrap,
#members-dir-grid.members #members-list div.list-wrap {
	display: flex;
	border-radius: 0px;
	background: #fafafa;
	border: 0;
	padding : 0;
	min-height: 40px;
	}

@media (max-width:767px) {
	#members-group-list.group_members ul#members-list,
	#members-dir-grid.members ul#members-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		grid-gap: 6px;
	}

	#members-group-list.group_members #members-list.bp-list .item-avatar,
	#members-dir-grid.members #members-list.bp-list .item-avatar {
		font-size: 12px;
		line-height: 13px;
	}

	#members-group-list.group_members #members-list .item-avatar img.avatar,
	#members-dir-grid.members #members-list .item-avatar img.avatar {
		width: 80px;
		height: 80px;
		margin: 8px 0 6px;
		border-radius: 20%;
	}

}

#members-group-list .item-intro {
	margin-left: 130px;
	padding: 12px 12px 14px 0;
	max-width: 640px;
	font-size: 17px;
	font-family: Merriweather,Georgia,serif;
}

#members-group-list .item-avatar {
	float: left;
	text-align: center;
	width: 115px;
	font-size: 14px;
	margin-right: 0;
}

#members-group-list .item-avatar img {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	border-radius: 12px;
}

.single-item.group-members .page-title {
	font-size: 16px;
}

.single-item.group-members .bp-screen-title {
	margin: 0 0 10px 0;
	line-height: 1em;
}

/* User and Group Dashboards */

.bfc-user-panels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'LeftPanel CenterPanel RightPanel';
	gap: 0px 30px;
	margin: 10px 0px;
}

#bfc-user-panels .bfc-user-panel{
	border: 1px solid #e7e9ec;
	padding: 10px 20px;
	background-color: #fff;
	position: relative;
	max-width: none;
}

.bfc-dash-panels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'LeftPanel RightPanel';
	gap: 0px 10px;
	margin: 10px 0px;
}

.bfc-user-accordion,
.bfc-dash-accordion {
	display: none;
}

.bfc-user-panels-left,
.bfc-dash-panel-left {
	grid-area: LeftPanel;
}

.bfc-user-panels-center {
	grid-area: CenterPanel;
}

.bfc-user-panels-right,
.bfc-dash-panel-right {
	grid-area: RightPanel;
}

.bfc-la-li {
	display: grid;
	grid-template-columns: 46px 1fr;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

.bfc-la-ul {
	margin-left: 0;
	list-style-type: none;
}

.buddypress-wrap #bfc-dash-panels h2 {
	margin-top: 0px;
	margin-bottom: 8px;
}


.bfc-la-topic-author-avatar img {
	margin-top: 4px;
}

.bsp-la-reply-topic-title,
.bb-recent-posts h4 {
	font-size: 15px;
}

.bp-activity-info p,
.bfc-la-topic-excerpt {
	font-size: 13px;
}

.bsp-la-forum-title,
.bsp-la-freshness,
.bfc-la-topic-author-name {
	font-size: 12px;
}

.bsp-la-forum-title {
	float: right
}

.bfc-user-panels h2 {
	font-size: 26px;
}
#bfc-user-panels div.tribe-compatibility-container h2.tribe-events-widget-events-list__header-title {
	font-weight: 400;
	font-size: 26px;
	font-family: "SF UI Display", sans-serif;
	color: #122B46;
}

#bfc-user-panel-right .tribe-compatibility-container {
	margin-top: 20px;
	border-top: #122B46;
	border-top-width: 1px;
	border-top-style: solid;
}

.user-home-welcome{
	margin-top: 20px;
	font-size: 34px;
	line-height: 32px;
	-webkit-font-smoothing: auto;
}

.user-home-welcome-name{
	font-weight: 500;
}

.user-home-welcome-tagline{
	color: #4D5C6D;
    font-size: 22px;
    line-height: 24px;
	margin-bottom: 30px;
}
@media (max-width:767px) {
	.bfc-dash-accordion {
		display: block;
	}
	.bfc-dash-panels {
		display: none;
	}

	.bfc-user-accordion {
		display: block;
	}
	.bfc-user-panels {
		display: none;
	}
		
	.bfc-user-accordion .widget-area:not(.widget-area-secondary){
		padding-top: 0px;
	}

	.bfc-user-accordion .widget-area {
		padding-bottom: 0px;
	}

	.user-home-welcome{
		font-size: 32px;
	}

}


.bfc-user-panel .activity-update cite::before {
	content: none;
}

.bfc-user-panel .activity-list {
	padding: 0px;
}

.bfc-user-panel .activity-update .update-item {
	display: grid;
    grid-template-columns: 46px 1fr;
	margin-top: 22px;
}

.bfc-user-panel .activity-content {
	/* margin-left: 46px; */	
	font-size: 13px;
	margin-bottom: 24px;
	/* padding-bottom: 10px; */
	border-bottom: 1px solid #eaeaea;

}

.bfc-user-panel .activity-inner {
	word-break: break-word;
}

.bfc-user-panel .activity-inner p {
	margin-bottom: 10px;
}

