/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

/* Global */

body {
	-webkit-font-smoothing:auto;
}

/* Avatars */
#groups-list .bfc-rounded  img.avatar,
.bb-activity img.avatar{
	border-radius:20%;
	}
.list-view .bb-forums__avatar .avatar{
	border-radius:20%;
	}
.notification-avatar img, .user-link img{
	border-radius:20%;
	}
#friend-list.item-list .item-avatar img, #members-list.item-list .item-avatar img{
	border-radius:20%;
	}
#bbpress-forums#bbpress-forums .bs-forums-items .item-avatar img{
	border-radius:20%;
	max-width: 80px;
	}

#bbpress-forums#bbpress-forums > .bs-forums-items .item-avatar img{
	/* border-radius:20%; */
	max-width: 40px;
	}
#bbpress-forums#bbpress-forums .bbp-topics1 .bs-item-wrap {
	padding: 10px 20px;
	border: none;
	
}

#bbpress-forums#bbpress-forums .bbp-topics1 .bs-header-item {
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e9ec;
}

#bbpress-forums#bbpress-forums .bbp-topics1 .bs-item-list {
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e9ec;
}

#bbpress-forums#bbpress-forums ul.bbp-topics1 {
	background-color: #fff;
	border: 1px solid #e7e9ec;
	padding-bottom: 10px;
}

#bbpress-forums#bbpress-forums .bbp-topics1.bs-forums-items .item-title {
    line-height: 18px;
}

#bbpress-forums#bbpress-forums .bbp-topics1.bs-forums-items .bfc-item-title {
    margin-right: 10px;
}

#bbpress-forums#bbpress-forums .bs-forums-items .item-meta .bs-replied {
    margin-right: 0px;
}

#bbpress-forums#bbpress-forums .bs-forums-items .bfc-item-meta>span {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
	margin-left: 0px;
    display: inline-block;
	font-size: 14px;
	color: rgb(163, 165, 169);
}

	
.entry-content-wrap .avatar, .avatar{
	border-radius:20%;
	}
body #buddypress:not(.round-avatars) .groups-header #item-header-cover-image #item-header-avatar img.avatar{
	border-radius:5%;
	}
body #buddypress:not(.round-avatars) .users-header #item-header-cover-image #item-header-avatar img.avatar{
	border-radius:20%;
	}
#groups-list.bp-list .avatar{
	border-radius:5%;
	}

.buddypress-wrap .members-list li .member-status.online {
	right:0px;
	top:0px;
	width:14px;
	height:14px;
	}

.comment-author .avatar {
	border-radius: 20%;
	max-width: 42px;
	}
/* Groups */

.single-item.groups .content-area {
	padding-top: 0px;
	}

nav#object-nav li.bfc-group-name-nav{
	font-size:14px;
	font-weight: 700;
	line-height: 28px;
	padding:11px 30px 11px 0;
	}


/* Forums and Group Member Intros*/

#members-intros,
#bbpress-forums.bb-content-area {
	width: 810px;
	margin: 0 auto;
}

#bbpress-forums .bs-single-forum-list>li .bs-reply-list-item {
	padding: 15px 30px 15px 0px;
}
#bbpress-forums#bbpress-forums .bs-forums-items .bbp-reply-author{
	width: 150px;
	/* margin-left: -30px; */
	padding: 0 20px;
}
#bbpress-forums h1.bb-reply-topic-title {
	font-size: 28px;
}
#bbpress-forums#bbpress-forums .bs-forums-items .bbp-reply-author .item-avatar {
	margin: auto;
	padding-bottom: 5px;
}


#bbpress-forums .bs-reply-list-item {
	display: flex;
}

.bbp-reply-content.bs-forum-content {
	font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
	font-size: 17px;
	line-height: 1.6;
	flex-grow: 1;
}
.bs-forum-content .bbp-topic-revision-log, .bs-forum-content .bbp-reply-revision-log{
	display: none;
}

#bbpress-forums#bbpress-forums .bs-forums-items.list-view .bs-dropdown-wrap .bs-dropdown-wrap-inner>a {
	float: right;
}

#bbpress-forums div.bbp-reply-content ul.bs-dropdown li, #bbpress-forums div.bbp-topic-content ul.bs-dropdown li {
	list-style-type: none;
}

/* .bs-dropdown {
	min-width: 100px;
 } */
 
 #bbpress-forums#bbpress-forums .bs-forums-items.list-view .bs-dropdown-wrap .bs-dropdown-wrap-inner .bs-dropdown {
   width: 100px;
   z-index: 1000;
}



/* dropdown pane */

#buddypress .bb-grid  .dropdown-pane .generic-button, 
#buddypress .bp-list  .dropdown-pane .generic-button, 
#bfc-user-panels .dropdown-pane .generic-button, 
#bfc-user-accordion .dropdown-pane .generic-button {
	margin: 0;
}

#buddypress .bb-grid  .dropdown-pane .follow-button, 
#buddypress .bp-list .dropdown-pane .follow-button, 
#bfc-user-panels .dropdown-pane .follow-button, 
#bfc-user-accordion .dropdown-pane .follow-button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #007CFF;
	line-height: 1.2;
	min-height: 1px;
	padding: 0;
	font-size: 14px;
	cursor: pointer;
}
		
#buddypress .bb-grid .dropdown-pane, 
#buddypress .bp-list .dropdown-pane, 
#bfc-user-panels .dropdown-pane, 
#bfc-user-accordion .dropdown-pane {
	border-radius:10%;
	font-size: 14px;
	text-align: center;
	width: 150px;
	padding: 10px;
}

.bfc-dropdown-span {
	height: 40px;
}

/* member directory */
#members-group-list.group_members ul#members-list,
#members-dir-grid.members ul#members-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 8px;
}

#friend-list.grid,#groups-list.grid,#members-list.grid{
	margin:0;
}

#friend-list.grid.bp-list>li,#groups-list.grid.bp-list>li,#members-list.grid.bp-list>li {
	max-width: 100%;
}

#members-group-list.group_members #members-list.bp-list:before,
#members-dir-grid.members #members-list.bp-list:before {
	content: normal;
	display: inherit;
}

#members-group-list.group_members #members-list.bp-list li.item-entry,
#members-dir-grid.members #members-list.bp-list li.item-entry {
	margin: 0;
	padding: 0;
	border-bottom: 0 none #000000;
	justify-self: center;
	min-width: min-content;
}

#members-group-list.group_members #members-list.bp-list .item-avatar,
#members-dir-grid.members #members-list.bp-list .item-avatar {
	font-size: 13px;
	line-height: 19px;
	margin: 0px;
}


#members-group-list.group_members #members-list .item-avatar img.avatar,
#members-dir-grid.members #members-list .item-avatar img.avatar {
	width: 80px;
	height: 80px;
	object-fit: cover;
	margin: 0 0 8px;
	border-radius: 20%;
}

#members-group-list.group_members #members-list div.list-wrap,
#members-dir-grid.members #members-list div.list-wrap {
	display: flex;
	border-radius: 0px;
	background: #fafafa;
	border: 0;
	padding : 0;
	min-height: 40px;
	}

@media (max-width:767px) {
	#members-group-list.group_members ul#members-list,
	#members-dir-grid.members ul#members-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		grid-gap: 6px;
	}

	#members-group-list.group_members #members-list.bp-list .item-avatar,
	#members-dir-grid.members #members-list.bp-list .item-avatar {
		font-size: 12px;
		line-height: 13px;
	}

	#members-group-list.group_members #members-list .item-avatar img.avatar,
	#members-dir-grid.members #members-list .item-avatar img.avatar {
		width: 80px;
		height: 80px;
		margin: 8px 0 6px;
		border-radius: 20%;
	}

}

#members-group-list .item-intro {
	margin-left: 130px;
	padding: 12px 12px 14px 0;
	max-width: 640px;
	font-size: 17px;
	font-family:  charter, Georgia, Cambria, 'Times New Roman', Times, serif;
}

#members-group-list .item-avatar {
	float: left;
	text-align: center;
	width: 115px;
	font-size: 14px;
	margin-right: 0;
}

#members-group-list .item-avatar img {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	border-radius: 12px;
}

.single-item.group-members .page-title {
	font-size: 16px;
}

.single-item.group-members .bp-screen-title {
	margin: 0 0 10px 0;
	line-height: 1em;
}

/* User and Group Dashboards */

.bfc-user-panels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'LeftPanel CenterPanel RightPanel';
	gap: 0px 30px;
	margin: 10px 0px;
}

.group-home-page .bfc-user-panels {
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'LeftPanel RightPanel';
}

#bfc-user-panels .bfc-user-panel{
	border: 1px solid #e7e9ec;
	padding: 10px 20px;
	background-color: #fff;
	position: relative;
	max-width: none;
}

.bfc-dash-panels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'LeftPanel RightPanel';
	gap: 0px 10px;
	margin: 10px 0px;
}

.bfc-user-accordion,
.bfc-dash-accordion {
	display: none;
}

.bfc-user-panels-left,
.bfc-dash-panel-left {
	grid-area: LeftPanel;
}

.bfc-user-panels-center {
	grid-area: CenterPanel;
}

.bfc-user-panels-right,
.bfc-dash-panel-right {
	grid-area: RightPanel;
}

.bfc-la-li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

.my-groups #groups-list .bfc-la-li,
.mygroups #groups-list .bfc-la-li  {
	display: grid;
	grid-template-columns: 46px 1fr;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #eaeaea;
}

.my-groups #groups-list .bfc-la-ul,
.mygroups #groups-list .bfc-la-ul,
.bfc-la-ul {
	margin-left: 0;
	list-style-type: none;
}

.my-groups #groups-list .bp-list li:after, .bp-list li:before,
.mygroups #groups-list .bp-list li:after, .bp-list li:before  {
	content: "";
    display: none;
}

.buddypress-wrap #bfc-dash-panels h2 {
	margin-top: 0px;
	margin-bottom: 8px;
}


.bsp-la-reply-topic-title,
.bb-recent-posts h4 {
	font-size: 15px;
}

.bp-activity-info p,
.bfc-la-topic-excerpt {
	font-size: 13px;
}

.bsp-la-forum-title,
.bsp-la-freshness,
.bfc-la-topic-author-name {
	font-size: 12px;
}

.bsp-la-forum-title {
	float: right;
}

.bsp-activity-forum {
	margin-bottom: 10px;
}

.bfc-user-panels h2 {
	font-size: 26px;
}
#bfc-user-panels div.tribe-compatibility-container h2.tribe-events-widget-events-list__header-title {
	font-weight: 400;
	font-size: 26px;
	font-family: "SF UI Display", sans-serif;
	color: #122B46;
}

#bfc-user-panel-right .tribe-compatibility-container {
	margin-top: 20px;
	border-top: #122B46;
	border-top-width: 1px;
	border-top-style: solid;
}

.user-home-welcome{
	margin-top: 20px;
	font-size: 34px;
	line-height: 32px;
	-webkit-font-smoothing: auto;
}

.user-home-welcome-name{
	font-weight: 500;
}

.user-home-welcome-tagline{
	color: #4D5C6D;
    font-size: 22px;
    line-height: 24px;
	margin-bottom: 30px;
}
@media (max-width:767px) {
	.bfc-dash-accordion {
		display: block;
	}
	.bfc-dash-panels {
		display: none;
	}

	.bfc-user-accordion {
		display: block;
	}
	.bfc-user-panels {
		display: none;
	}
		
	.bfc-user-accordion .widget-area:not(.widget-area-secondary){
		padding-top: 0px;
	}

	.bfc-user-accordion .widget-area {
		padding-bottom: 0px;
	}

	.user-home-welcome{
		font-size: 32px;
	}

}


.bfc-user-accordion .activity-update cite::before,
.bfc-user-panel .activity-update cite::before {
	content: none;
}

.bfc-user-accordion .activity-list,
.bfc-user-panel .activity-list {
	padding: 0px;
}

.bfc-user-accordion .activity-update .update-item,
.bfc-user-panel .activity-update .update-item,
.bfc-la-li .update-item {
	display: grid;
    grid-template-columns: 46px 1fr 24px;
	margin-top: 22px;
}

.bfc-user-accordion .activity-content,
.bfc-user-panel .activity-content {
	/* margin-left: 46px; */	
	font-size: 13px;
	margin-bottom: 24px;
	/* padding-bottom: 10px; */
	border-bottom: 1px solid #eaeaea;

}

.bfc-user-accordion .activity-inner,
.bfc-user-panel .activity-inner {
	word-break: break-word;
	margin-bottom: 10px;
}

.bfc-user-accordion .activity-inner p,
.bfc-user-panel .activity-inner p {
	margin-bottom: 10px;
}

.bfc-after-widget {
	border-top: #122B46;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: -10px;
}

#bbpress-forums .bbp-reply-form.bb-modal.bb-modal-box {
	display:block;
	position:relative;
}

.other-groups #groups-list .bfc-group-latest-post,
.my-groups #groups-list .item-desc.group-item-desc,
.my-groups #groups-list .group-members-wrap,
#buddypress .my-groups .bp-list .action .generic-button .group-button, 
.mygroups #groups-list .item-desc.group-item-desc,
.mygroups #groups-list .group-members-wrap,
#buddypress .mygroups .bp-list .action .generic-button .group-button {
	display: none;
}

#groups-list.bp-list:not(.grid)  {
	display: block;
}

#groups-list .item-entry {
	flex-grow: 1;
}
.my-groups #groups-list .bfc-group-latest-post,
.mygroups #groups-list .bfc-group-latest-post {
	flex-grow: 1;
}

#buddypress #groups-list .item-block {
	flex-basis: 22%;
	min-width: 220px;
}

#buddypress #groups-list .groups-loop-buttons {
	min-width: 200px;
}

.other-groups #groups-list .group-members-wrap{
	width: 220px;
}

.other-groups #groups-list .bs-group-members img {
	border-radius: 20%;
	width: 40px;
	height: 40px;
	padding: 2px;
	border: 1px solid #fff;
    max-width: 40px;
    display: inline-block;
    margin-right: -3px;
    position: relative;
    z-index: 3;
}

.bfc-write-new .bb-icon-edit {
	font-size: 18px;
    line-height: 36px;
}

.other-groups #groups-list .bs-group-members .bfc-tooltip, .bfc-helptip {
	position: relative;
	display: inline-block;
}

.bfc-helptip {
	width: 36px;
}

.other-groups #groups-list .bs-group-members .bfc-tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
  
	/* Position the tooltip text */
	position: absolute;
	z-index: 10;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
  
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;  
}

.bfc-widget-head .bfc-helptip .bfc-helptiptext {
	visibility: hidden;
	width: 240px;
	background-color: rgb(255, 255, 255);
	color: #555;
	text-align: left;
	padding: 5px 10px;
	font-size: 13px;
	border-style: solid;
	border-width: 1px;
	border-color: #555;
	border-radius: 6px;
	
	/* Position the tooltip text */
	position: absolute;
	z-index: 10;
	top: 80%;
	right: 0px;
	
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;  
	
}

.group-home-page .bfc-widget-head .bfc-helptip .bfc-helptiptext {
	width: 320px;
}

.other-groups #groups-list .bs-group-members .bfc-tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;  
}

.bfc-widget-head .bfc-helptip .bfc-helptiptext:after {
	content: "";
	position: absolute;
	bottom: 100%;
	right: 4px;
	margin-left: -5px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;  
}

.other-groups #groups-list .bs-group-members .bfc-tooltip:hover .bfc-tooltiptext, .bfc-helptip:hover .bfc-helptiptext {
	visibility: visible;
	opacity: 1;
}

.other-groups #groups-list > .item-entry:hover {
	z-index: 999;
}

.other-groups #groups-list .bs-group-members .bfc-tooltiptext>a {
	color: rgb(218, 208, 255)
}

.bfc-widget-head {
	display: flex;
}

.bfc-widget-head h2, .buddypress .buddypress-wrap .bfc-widget-head h2 {
	flex-grow: 1;
	margin-bottom: 8px;
}

.bfc-helptip > .bb-icon-help-circle {
	font-size: 20px;
	line-height: 36px;
	float: right;
	color: #999;
}

.post .entry-content p {
	font-family:  charter, Georgia, Cambria, 'Times New Roman', Times, serif;
	font-size: 17px;
	margin-bottom: 20px;
}

#buddypress #item-body div.bp-profile-content table.profile-fields tr td {
	padding-bottom: 4px;
}

.buddypress-wrap table.profile-fields td.data>p {
	margin: 0;
}

#buddypress .bbp-reply-content.bs-forum-content .bfc-post-functions {
	display: flex;
}

#buddypress .bbp-reply-content.bs-forum-content .bfc-post-functions .bfc-like-section {
	flex-grow: 1;
	margin-top: -9px;
}

.like-state > .like-state-likes > span {
	color: rgb(85,85,85);
	font-family: "SF UI Text", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -.18px;
	line-height: 16px;
}

#buddypress .bs-forum-content .post-like-meta .generic-button .bfc-post-like {
	line-height: 18px;
}

.post-like-meta > .generic-button > .bfc-post-like > .bfc-post-like-text {
	color: rgb(127, 134, 143);
	font-family: "SF UI Text", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -.18px;
	line-height: 14px;
	margin-left: 2px;
	text-align: center;
}

.bfc-la-ul .like-text {
	color: #a3a5a9;
    font-size: 13px;
}

.post-like-meta > .generic-button > .bfc-post-like:before {
	content: "\e815";
	color: rgb(0, 124, 255);
	display: inline-block;
	font-family: bb-icons;
	font-size: 22px;
	line-height: 22px;
	min-width: 22px;
	position: relative;
	top: -3px;
	vertical-align: middle;
  }

  .bfc-widget-actions {
	  font-size: 13px;
	  text-align: right;
  }

  .bfc-widget-actions .bb-icon-arrow-up-right,
  .bfc-widget-actions.bb-icon-arrow-up-right,
  .bfc-forumlist.bb-icon-arrow-up-right {
	  font-size: 12px;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #87bff9;
	  border-radius: 20%;
	  margin-right: 4px;
  }

  .bfc-forum-links {
	  display: flex;
  }

  .bsp-la-reply-topic-title,
  .bsp-la-title {
	  flex-grow: 1;
  }

  .bsp-la-reply-topic-title {
	  margin-bottom: 14px;
	  line-height: 21px;
  }
 .bfc-la-topic-author-avatar {
	height: 40px;
    position: relative;
 }

 #buddypress a.view.activity-time-since {
	display: inline-block;
 }

 .header-aside .bfc-message-links {
	 display: flex;
 }

 .header-aside .bfc-message-links .delete-all {
	flex-grow: 1;
}

.group-home-page .bfc-group-organizers {
	margin-bottom: 28px;
}

.buddypress-wrap .members-directory-container .bp-navs .bfc-members-filter {
	float: right;
}

#members-order-by {
	margin-bottom: 0;
}

#buddypress .members-directory-container .bp-secondary-header {
	display: none;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav {
	margin-bottom: 25px;
}

.buddypress-wrap .members-directory-container .bp-navs .bfc-members-filter .select-wrap {
    margin-right: 0;
}
@media screen and (min-width: 32em) {
	.buddypress-wrap .members-directory-container .bp-navs .bfc-members-filter .select-wrap {
    margin-right: 0;
}
}

#bbpress-forums .replies-content .bbp-reply-form.bb-modal.bb-modal-box {
	display: block !important;
}
